<div class="form">
  <h2>{{'page.login.admin' | translate}}</h2>
  <mat-form-field class="admin-form-field">
    <mat-label>{{'page.login.username' | translate }}</mat-label>
    <input #username matInput type="text" [(ngModel)]="usernameValue">
    <button matSuffix mat-icon-button (click)="username.value = ''" *ngIf="username.value">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="admin-form-field">
    <mat-label>{{'page.login.password' | translate}}</mat-label>
  <input #password matInput type="password" [(ngModel)]="passwordValue">
  <button matSuffix mat-icon-button (click)="password.type == 'password' ? password.type = 'text' : password.type = 'password'">
    <mat-icon>{{password.type == 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
  </button>
</mat-form-field>
</div>